<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmlu.st.mybatis.exam.mapper.EmployeeMapper">
	<select id="getEmpBylastnameReturnMap"
		resultType="com.xmlu.st.mybatis.exam.bean.Employee">
		SELECT * FROM tbl_employee WHERE last_name LIKE #{lastName}
	</select>
	<select id="getEmpByIdReturnMap" resultType="map">
		SELECT * FROM tbl_employee WHERE id=#{id}
	</select>
	<select id="getEmpByLastName"
		resultType="com.xmlu.st.mybatis.exam.bean.Employee">
		SELECT * FROM tbl_employee WHERE last_name=#{lastName}
	</select>
	<select id="getEmpById"
		resultType="com.xmlu.st.mybatis.exam.bean.Employee">
		select * from tbl_employee where id=#{id}
	</select>
	<!--useGeneratedKeys使用自增主键获取主键值策略 keyProperty指定对应的主键属性，也就是mybatis获取到值之后，将这个属性封装到Javabean的那个属性 -->
	<insert id="addEmp"
		parameterType="com.xmlu.st.mybatis.exam.bean.Employee" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO tbl_employee(last_name,email,gender)
		VALUES (#{lastName},#{email},#{gender})
	</insert>
	<update id="updateEmp">
		UPDATE tbl_employee
		SET last_name=#{lastName},email=#{email},gender=#{gender}
		WHERE id=#{id}
	</update>
	<delete id="deleteEmpById">
		DELETE FROM tbl_employee WHERE id=#{id}
	</delete>
</mapper>